<body class="container">
	<div class= "row">
		<h1>Welcome to the Online Game of Marbles</h1>
		<p>Developed by Phastware 2020</p>
	</div>

	<h4 class="col-sm-12"><%= link_to 'Show All Games', '/games'%></h4>
	
	<h3>Current Standings</h3>
	<% winners = @games.map {|g| g.winner}.uniq %>
	<div class="col-sm-12">Total games played so far: <%= @games.count()%></div>
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Player/Team</th>
				<th>Wins</th>
			</tr>
		</thead>
		
		<tbody>
			<% winners.each do |w| %>
				<tr>
					<td ><%= w%></td>
					<td ><%= (@games.select {|g| g.winner == w}).count() %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
</body>

