<h1>Welcome to the Online Game of Marbles</h1>
<p>Developed by Phastware 2020</p>

<h4 class="col-sm-12"><%= link_to 'Show All Games', '/games'%></h4>
<h4 class="col-sm-12"><%= link_to 'New Game', '/games/new' %></h4>
