<div class="container">

<h1 id="header">The Original Board Game Rules</h1>
<h2>Object of the game:</h2>
	

<p>To get all four of your marbles and your partners marbles to the home spots. First team to do that wins.</p>

<ul class="bullets">

<li>Played with a regular deck of 52 cards plus 4 jokers. </li>

<li>Throw the dice to determine who deals first. </li>

<li>Players take turns dealing all 56 cards - 5 to each player and after those are played, another 5 to each player, and after those are played 4 more to each player completing the deal. Then the player to your left deals. </li>

<li>In order to start a marble on the board you need one of the following cards: <br>
- Joker (or use it to move 15 spaces forward) <br>
- King (or use it to move 13 spaces forward) <br>
- Ace (or move 1 space forward)<br></li>

<li>You cannot jump a marble. If you land directly on it, you knock it back to start position where the player must have a Joker, King or Ace to move it out and start again. </li>

<li>Once a card is placed on the table it must be played. Unless it is not a playable card. </li>

<li>You must play each playable card. If you cannot play, throw all of your cards face up on the table and sit out of play until the next set of cards are dealt. </li>

<li>4 card: moves 4 spaces BACKWARDS only. All other cards move forward. </li>

<li>JACK : switch places - one of your playable marbles with another marble (partner or opponent). Once marbles are in a home spot they cannot be switched, moved backwards or knocked off. </li>

<li>7 card: the only card you can separate into different moves/marbles if you choose. Eg. Move 2 spaces, knock a marble off then continue on with as many moves as the 7 spots allow, or move part with one marble, part with another, etc. You MUST move 7 spaces in total. You cannot use only part of the 7. </li>

<li>All other cards move forward at face value. Queen moves 12 spots forward. </li>

<li>Center spot: you can move into this spot from any 6 hole (painted black) instead of moving one more spot on the outside. You can also use a 4 card to back into the center spot. Your marble must remain in the center for one turn (you cannot carry on and exit with a 7 card). You can exit via any black 6 spot on the board. </li>

<li>You cannot use a 4 to go backwards into the home spaces. You do not pass your entrance to the home spots. </li>

<li>Once all of your marbles have entered play, you can use your cards to move your partner's marbles as if they were your own. If one of your marbles gets knocked off, cannot continue to play your partner's marbles until you again have all of your marbles in play. </li>

</ul>

<figure>
	<figcaption>One of the original Marbles Game boards</figcaption>
	<%= image_tag "marbles_board.png", alt: "Marbles Board"%>
</figure>


</div>