
<% if @user_name == @player %>
	<span class="col-sm-6">
		<span class="text-primary" id="header">Marbles Game</span>
		<span class="text-primary">: <%= @game.name %></span>
	</span>
	<%= render 'form', game: @game %>	
<% else %>
	<div class = "col-sm-10 text-danger bg-danger">It's not your turn.  You cannot make a move yet.</div>
    <div class="col-sm-2 text-danger bg-danger">
  	  <%= link_to 'Back', games_path%>
    </div>
<% end %>
