
<div class="line2">
	<span class="boardlabel" id="header">Marbles Game</span>
	<strong><span class="boardlabel">: <%= @game.name %></span></strong>
</div>

<% if @user_name == @player %>
	<%= render 'form', game: @game %>	
<% else %>
	<span id="msgArea" class = "text-danger bg-danger">It's not your turn.</span>
	<span> <%= link_to 'Back', games_path%></span>
<% end %>

